.sectionProjects{
    background-color:#9933ff;
    align-items: center;
 /*   border: 1px solid;
    justify-content: space-between;
    flex-wrap: wrap;*/
    display: flex;
    flex-direction: column;
}

.myProjects{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}

/*.myProjects_header{
   !* width: 100%;
    height: 34%;
    border: 1px solid;*!
}*/
/*.examples{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    height: 75%;
    width: 100%;
    background-color: #999;
}*/
.example_item{
    height: 350px;
    width: 400px;
    background-color:white;
    display: flex;
    margin: 10px;
    justify-content: center;
}
/*.myProjects_header span{
    text-align: center;
    display: block;*/

@media screen and (max-width: 576px) {


    .myProjects {
        width: 100%;

    }


    .examples {

        width: 100%;
    }

}



