.app{
   /* background-color: #666;*/
    background: url('https://image.shutterstock.com/z/stock-photo-hi-res-grunge-textures-and-backgrounds-117941473.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    width: 80%;
}
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}