.sectionAboutMe{

   background : url("https://st.depositphotos.com/1157078/2765/i/950/depositphotos_27654325-stock-photo-grass-and-water-drops.jpg")  ;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.aboutMe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hello{
    display: flex;
    flex-direction: column;

}
.item{
    height: 380px;
    width: 470px;
    background: url('https://avatars.mds.yandex.net/get-pdb/2322521/ff085d1c-9f37-47ff-8017-ab9c998032e9/s375') no-repeat center center ;
    background-size: cover;
    display: flex;
    border-radius: 7px;
}
.aboutMe span{
    width: 200px;
    height: 200px;
    display: flex;
   align-items: center;
}

@media screen and (max-width: 576px) {
        .container {
            width: 90%;
            margin: 0 auto;
        }

        .aboutMe {
            
            width: 100%;
            justify-content: center;

        }
    }
