.sectionAboutMe{

   background : url("https://st.depositphotos.com/1157078/2765/i/950/depositphotos_27654325-stock-photo-grass-and-water-drops.jpg")  ;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.aboutMe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hello{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: aqua;
}


.item{
    height: 400px;
    width: 400px;
    background: url('https://avatars2.githubusercontent.com/u/56537259?s=400&u=0eca59ec5b421b0e217d2c69dee01f2c6713d539&v=4') no-repeat center center;
    display: flex;
    border-radius: 87px;
}
.aboutMe span{
    width: 200px;
    height: 200px;
    display: flex;
   align-items: center;
}

@media screen and (max-width: 576px) {
        .container {
            width: 90%;
            margin: 0 auto;
        }

        .aboutMe {
            
            width: 100%;
            justify-content: center;

        }
    }
